/* CSS FIL */

.concert {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 2vw;
  text-shadow: none;
}

.concert button {
  padding: 14px 28px;
  font-size: 25px;
}

.concert > .moreConcerts {
  text-align: center;
  font-size: large;
}

.concert .concert-location {
  border: 2px dotted #1b2530;
  justify-content: center;
}

.concert .green {
  border: 2px dotted #1b2530;
  justify-content: center;
  font-size: medium;
  background-color: rgb(33, 217, 26);
}

.concert a {
  color: black;
}
