.sortByDateCards {
  margin-bottom: 50px;
}

.sortByDate{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

hr{
  height: 1px;
  background-color: aqua;
  border: none;
  margin-bottom: 4vw;
}