.Navbar {
  display: flex;
  
  justify-content: space-around;
 
  border-radius: 5px;

  overflow: hidden;
  background-color:rgb(97, 147, 147);
}

.Navbar > h4 {
  text-align: center;
  margin: 0;
  position: absolute;
  margin-top: 5px;
  font-size: 20px;
  
 
   

}





.Navbar button{
  color:#999;
  border-color: rgb(83, 190, 190);
  background:rgb(97, 147, 147);
  padding: 25px;
 border-radius: 5px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 3px 60px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  
  text-decoration: none;
}
 
.Navbar > button.active{
  
  background:rgba(0, 0, 0, 0.5);
}


