.UserPage{
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 32.5% 35% 32.5%;
    align-items: flex-end;
    width: 100%;
}
.UserPageDisplayBox{
    grid-area: 2 /2/ 3 / 3;
    height: 100%;
}

.ticketBox{
    margin-bottom: 20px;
}

.UserEventButton{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 50px;
}

.WelcomeBox{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-area: 1 /1/ 2 / 4;
    justify-content: center;
    height: 100%;
    align-self: flex-start;
}

.UserInfo{
    grid-area: 2 /1/ 2 / 2;
    height: 100%;
    flex-direction: column;
    justify-self: flex-start;
}

.CurrentInfo{
    grid-area: 1 /1/ 2 / 2;
}

.WelcomeBtns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aqua;
    opacity: 0.4;
}

#updateform{
    display: flex;
    flex-direction: column;
}

#updateform > div > input {
    margin-top: 10px;
    margin-bottom: 10px;
}

#updateform > button {
    width: 60px;
    margin-top: 10px;
}

#updatePassowrdForm{
    display: flex;
    flex-direction: column;
}

#updatePassowrdForm > div > input {
    margin-top: 10px;
    margin-bottom: 10px;
}

#updatePassowrdForm > button {
    width: 60px;
    margin-top: 10px;
}